{% extends 'myBlog/base.html' %}



{% block title %}

{% if user.is_authenticated %}

<h4> Welcome {{ user.get_username }}.
    <br>
    Happy reading ! </h4>
<br>
<br>

<br>
<br>
{% else %}

<h4>Welcome new user.</h4>
    <br>
    <p>Thank you for visiting our blog. <br>
        Please signup for an account as you read our blog. <br></p>
   <h5>Happy reading!</h5>

<br>
<br>

<br>
<br>
{% endif %}

{% endblock %}




{% block Content %}


      {% for post in home %}


<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1> {{ post.title }}</h1>
        <p class=" text-muted">Written by {{ post.author }}</p>
        <p class="card-text ">{{ post.body | safe }}</p>
          <button type="submit" class="btn btn-success" > Comment </button>
      </div>
    </div>

    <!--<div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        --comments -->
        <!--{{ comments.count }} comments</h2>-->

       <!-- {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ CommentForm.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>


  <form method="post" style="margin-top: 1.3em;">
              {{ post.comments }}
             <button type="submit" class="btn btn-success">Submit</button>
     </form>-->

      {% endfor %}



{% endblock %}

